@CHARSET "UTF-8";

body {
	background-color: #FFFFB0;
	font-family:sans-serif; 
	/*font-size: 14;*/
}

.borderedTable {
	border-style:solid;
	border-width: 1px;
	/*font-size: 14;*/
}

.nonBorderedTable {
	/*font-size: 14;*/
}

.tableHeader {
	height: 24px;
	font-weight: bold;
	background-color: #778899;
}

.row0 {
	cursor: pointer;
	height: 20px;
	background-color: #FFE070;
}

.row1 {
	cursor: pointer;
	height: 20px;
	background-color: #FFE0B0;
}

.label {
	background-color: #FFE020;
}

.field {
	background-color: #E6E6FA;
}